#title {
    margin: auto;
    text-align: center;
    font-family: Sans-serif;
    font-size: min(3.5vw, 25px);
}

#nav-bar {
    display: flex;
    justify-content: center;
}

#info-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 12vh;
}

#display-area {
    background: #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Sans-serif;
    font-size: min(3vw, 20px);
    border-radius: min(3vw, 15px);
    width: min(900px, 70vw);
    margin-top: 12vh;
}

#word-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #4D4D4D;
    margin: min(1%, 10px);
}

#word-input {
    font-family: Sans-serif;
    font-size: min(3vw, 20px);
    border-radius: min(0.5vw, 5px);
    margin: min(1%, 10px);
    width: 90%;
}

.nav-element {
    font-family: Sans-serif;
    font-size: min(3vw, 20px);
    margin-top: min(1vh, 10px);
    margin-bottom: min(0.5vh, 5px);
    margin-left: min(0.5vw, 5px);
    margin-right: min(0.5vw, 5px);
}

.word {
    display: flex;
}

.highlight {
    color: #0000A8;
}

.correct {
    color: #03A113;
}

.wrong {
    color: #A30000;
}

.input-normal {
    color: #000000;
    background-color: #FFFFFF;
}

.input-wrong{
    color: #000000;
    background-color: #FF6166;
}
