.word {
    display: flex;
    /*flex-direction: row;*/
}

#title {
    margin: auto;
    text-align: center;
}

#display_area {
    background: #c0c0c0;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#word_display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #80381a;
    margin: 1% 1% 1% 1%;
}

#word_input {
    width: 90%;
    margin: 1% 1% 1% 1%;
}

#nav_bar {
    display: flex;
    justify-content: center;
}

.nav_button {
    margin-top: 10px;
    margin-bottom: 100px;
    margin-left: 5px;
    margin-right: 5px;
}

.highlight {
    color: #0000ff;
}

.correct {
    color: #00ff00;
}

.wrong {
    color: #ff0000;
}
